.title, .darkBgTitle {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 800;
}

.title:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

.desc {
    line-height: 180%;
    max-width: 230px;
    margin-top: 15px;
    font-size: 15px;
    color: hsl(236, 13%, 42%);
}

.darkBgTitle {
    color: hsl(36, 100%, 99%);
}

.darkBgTitle:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
}

.darkBgDesc {
    display: block;
    line-height: 200%;
    margin-top: 15px;
    color: hsl(233, 8%, 79%);
}

@media (max-width: 375px) {
    .desc {
        max-width: auto;
        font-size: 13px;
    }
}